@media only screen and (min-width: 1000px) {
    html{overflow:hidden;}
    h1 {
    /* make it bold */
    text-align: center;
    font: 40px/1.5 Arial, sans-serif;
    font-weight: bold;
    color: #3c3bfa;
    background-color: #252525;
    margin-top: -10px;
    margin-left:-10px;
    margin-right:-10px;
    }

    .split {
        height: 60%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 30px;
        margin-top:6%;
        margin-bottom: 25%;
        overflow-y: hidden;
    }
    .left{
        left:0;
    }
    .right{
        padding-right: 5%;
        right:0;
    }
    .rectangle {
        width: 75%;
        height: 90%;
        margin-left:auto;
        margin-right:auto;
        overflow: hidden;
        outline: 2px solid #000000;
        z-index: -1;
        margin-top: -1%;

    }   
    .rectangle .square {
        width: 100%;
        height: 33%;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        overflow-x: hidden;
        font-size: 2.25em;
    }
    .right a#c1 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .right a#c2 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .right a#c3 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: bold;
    }
    .right a#c4 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }
    .right a#c5 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }

    .right .circle1, .circle2, .circle3, .circle4, .circle5 {
        /* width: 150px; */
        /* height: 150px; */
        width: 10vw;
        height: 10vw;
        border-radius: 100%;
        /* background-color: #252525; */
        overflow-x: hidden;
        outline: 2px solid #000000;
        /* z-index: -1; */
    }
    .circle1 {
        position:relative;
        left: 8%;
        top: -5%;
        background: url("/images/circle1.jpeg") no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.25em;
    }

    .circle2 {
        position:relative;
        left: 40.5%;
        bottom: 35%;
        background: url("/images/circle2.jpeg") no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.25em;
    }
    .circle3 {
        position:relative;
        left: 75%;
        bottom: 65%;
        background: url("/images/circle3.jpeg") repeat;
        background-size: calc(100% + 10px);
        background-position: center;
        text-align: center;
        font-size: 1.25em;
    }
    .circle4 {
        position:relative;
        left: 25%;
        bottom: 65%;
        background: url("/images/circle4.jpeg") repeat;
        background-size: calc(200% + 10px);
        background-position: center;
        text-align: center;
        font-size: 1.25em;
    }
    .circle5 {
        position:relative;
        left: 58%;
        bottom: 95%;
        background: url("/images/circle5.png") repeat;
        background-size: 110%;
        background-position: center;
        text-align: center;
        font-size: 1.25em;
    }
    .mobile {
        display: none;
    }
    .not-mobile {
        display: block;
    }
}

@media screen and (max-width: 1000px) and (min-width: 480px) {
    html{overflow:hidden;}
    h1 {
    /* make it bold */
    text-align: center;
    font: 40px/1.5 Arial, sans-serif;
    font-weight: bold;
    color: #3c3bfa;
    background-color: #252525;
    margin-top: -10px;
    margin-left:-10px;
    margin-right:-10px;
    }

    .split {
        height: 60%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 30px;
        margin-top:6%;
        margin-bottom: 25%;
        overflow-y: hidden;
    }
    .left{
        left:0;
    }
    .right{
        padding-right: 5%;
        right:0;
    }
    .rectangle {
        width: 75%;
        height: 90%;
        margin-left:auto;
        margin-right:auto;
        overflow: hidden;
        outline: 2px solid #000000;
        z-index: -1;
        margin-top: -1%;

    }   
    .rectangle .square {
        width: 100%;
        height: 33%;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        overflow-x: hidden;
        font-size: 2.25em;
    }
    .right a#c1 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }
    .right a#c2 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }
    .right a#c3 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }
    .right a#c4 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: .75em;
        font-weight: bold;
    }
    .right a#c5 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: .8em;
        font-weight: bold;
    }

    .right .circle1, .circle2, .circle3, .circle4, .circle5 {
        /* width: 150px; */
        /* height: 150px; */
        width: 15vw;
        height: 15vw;
        border-radius: 100%;
        /* background-color: #252525; */
        overflow-x: hidden;
        overflow-y: hidden;
        outline: 2px solid #000000;
        /* z-index: -1; */
    }
    .circle1 {
        position:relative;
        left: 5%;
        top: -5%;
        background: url("/images/circle1.jpeg") no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.25em;
    }

    .circle2 {
        position:relative;
        left: 37.6%;
        bottom: 37%;
        background: url("/images/circle2.jpeg") no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1.25em;
    }
    .circle3 {
        position:relative;
        left: 70%;
        bottom: 69%;
        background: url("/images/circle3.jpeg") repeat;
        background-size: calc(100% + 10px);
        background-position: center;
        text-align: center;
        font-size: 1.25em;
    }
    .circle4 {
        position:relative;
        left: 20%;
        bottom: 70%;
        background: url("/images/circle4.jpeg") repeat;
        background-size: calc(200% + 10px);
        background-position: center;
        text-align: center;
        font-size: 1.25em;
    }
    .circle5 {
        position:relative;
        left: 55%;
        bottom: 103%;
        background: url("/images/circle5.png") repeat;
        background-size: 110%;
        background-position: center;
        text-align: center;
        font-size: 1.25em;
    }
    .mobile {
        display: none;
    }
    .not-mobile {
        display: block;
    }
}
    
@media screen and (max-width: 479px) {
    /* start of phone styles */
    /* html{overflow:hidden;} */
    .mobile {
        height: 20vw;
        width: 50vw;
        position: relative;
        text-align: center;
        font-weight: bold;
        color: #3c3bfa;
        background-color: #252525;
        margin-top: -10px;
        margin-left:-10px;
        margin-right:-10px;
    }

    .split {
        height: 60%;
        width: 50%;
        position: fixed;
        z-index: 1;
        /* top: 0; */
        overflow-x: hidden;
        padding-top: 30px;
        margin-top:6%;
        margin-bottom: 25%;
        overflow-y: hidden;
    }
    .left{
        top: 16%;
        left:0;
        height: 90%;
    }
    .right{
        top: 16%;
        /* padding-right: 5%; */
        right:0;
    }
    .rectangle {
        width: 90%;
        height: 60%;
        /* margin-left:auto; */
        /* margin-right:auto; */
        overflow: hidden;
        outline: 2px solid #000000;
        z-index: -1;
        /* Move below the header */
        position: relative;
        /* margin-top: -1%; */

    }   
    .rectangle .square {
        width: 100%;
        height: 33%;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        overflow-x: hidden;
        font-size: 2em;
    }
    .right a#c1 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .right a#c2 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
    }
    .right a#c3 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: bold;
    }
    .right a#c4 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }
    .right a#c5 {
        display: flex;
        justify-content: center;
        color: #ffffd1;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }

    .right .circle1, .circle2, .circle3, .circle4, .circle5 {
        /* width: 150px; */
        /* height: 150px; */
        width: 25vw;
        height: 25vw;
        border-radius: 100%;
        /* background-color: #252525; */
        overflow-x: hidden;
        outline: 2px solid #000000;
        /* z-index: -1; */
    }
    .circle1 {
        position:relative;
        left: 10%;
        top: -5%;
        background: url("/images/circle1.jpeg") no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 1em;
    }

    .circle2 {
        position:relative;
        left: 60%;
        top: -24%;
        background: url("/images/circle2.jpeg") no-repeat;
        background-size: cover;
        text-align: center;
        font-size: .72em;
    }
    .circle3 {
        position:relative;
        left: 10%;
        top: -15%;
        background: url("/images/circle3.jpeg") repeat;
        background-size: calc(100% + 10px);
        background-position: center;
        text-align: center;
        font-size: .8em;
    }
    .circle4 {
        position:relative;
        left: 60%;
        bottom: 34%;
        background: url("/images/circle4.jpeg") repeat;
        background-size: calc(200% + 10px);
        background-position: center;
        text-align: center;
        font-size: .7em;
    }
    .circle5 {
        position:relative;
        left: 35%;
        bottom: 25%;
        background: url("/images/circle5.png") repeat;
        background-size: 110%;
        background-position: center;
        text-align: center;
        font-size: 1em;
    }
    .mobile {
        display: block;
    }
    .not-mobile {
        display: none;
    }
}
