html{overflow:hidden;}
h1 {
/* make it bold */
text-align: center;
font: 40px/1.5 Arial, sans-serif;
font-weight: bold;
color: #3c3bfa;
background-color: #252525;
margin-top: -10px;
margin-left:-10px;
margin-right:-10px;
}

.split {
    height: 60%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 30px;
    margin-top:6%;
    margin-bottom: 25%;
    overflow-y: hidden;
}
.left{
    left:0;
}
.right{
    right:0;
}
.rectangle {
    width: 75%;
    height: 90%;
    margin-left:auto;
    margin-right:auto;
    overflow-y: hidden;
    outline: 2px solid #000000;
    z-index: -1;
}   
.rectangle .square {
    width: 100%;
    height: 33%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    overflow-x: hidden;
    font-size: 2.25em;
}
.right a#c1 {
    color: #ffffd1;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.right a#c2 {
    color: #ffffd1;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
.right a#c3 {
    color: #ffffd1;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}
.right a#c4 {
    color: #ffffd1;
    text-decoration: none;
    font-weight: bold;
}
.right a#c5 {
    color: #ffffd1;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.right .circle1, .circle2, .circle3, .circle4, .circle5 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    /* background-color: #252525; */
    overflow-x: hidden;
    outline: 2px solid #000000;
    z-index: -1;
}
.circle1 {
    position:relative;
    left: 100px;
    top: 20px;
    background: url("/images/circle1.jpeg") no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.25em;
}

.circle2 {
    position:relative;
    left: 500px;
    top: -130px;
    background: url("/images/circle2.jpeg") no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.25em;
}
.circle3 {
    position:relative;
    left: 300px;
    top: -280px;
    background: url("/images/circle3.jpeg") repeat;
    background-size: calc(100% + 10px);
    background-position: center;
    text-align: center;
    font-size: 1.25em;
}
.circle4 {
    position:relative;
    left: 200px;
    top: -270px;
    background: url("/images/circle4.jpeg") repeat;
    background-size: calc(200% + 10px);
    background-position: center;
    text-align: center;
    font-size: 1.25em;
}
.circle5 {
    position:relative;
    left: 400px;
    top: -420px;
    background: url("/images/circle5.png") repeat;
    background-size: 110%;
    background-position: center;
    text-align: center;
    font-size: 1.25em;
}