html{background-color: #cadcef;} /*333b62*/
.foot {
    background-color: #252525   ;
    color: #777777;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    margin-top: auto;
    margin-left: -10px;
    margin-right: -10px;
    position: auto;
    margin-bottom: -10px;
}

*{
    font-family:Montserrat, sans-serif;
    list-style: none;
}

.page_title {
font-weight: bold;
text-align: center;
font-weight: bold;
color: #3c3bfa;
background-color: #252525;
margin-top: -10px;
margin-left:-10px;
margin-right:-10px;
} 

* body  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a:link { color: #26619c; }
a:visited { color: #138743; }
a:hover { color: #9900ff; }

@media screen and (max-width: 479px) {
    html{background-color: #cadcef;} /*333b62*/
    .foot {
        background-color: #252525   ;
        color: #777777;
        font-size: 1em;
        padding-bottom: -10%;
        margin-bottom: 1%;
        text-align: center;
    }

    *{
        font-family:Montserrat, sans-serif;
        list-style: none;
    }

    .page_title {
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    color: #3c3bfa;
    background-color: #252525;
    } 

    * body  {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    a:link { color: #26619c; }
    a:visited { color: #138743; }
    a:hover { color: #9900ff; }
}